.bubble {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-size: 12%;
  background-repeat: no-repeat;
  animation: bubbleAnimation 20s linear infinite;
  opacity: 0.5;

  &-first {
    top: 10%;
    left: 55%;
    background-image: url('./assets/bubble1.png');
  }

  &-second {
    top: 8%;
    left: 30%;
    background-image: url('./assets/bubble2.png');
  }

  &-third {
    top: 50%;
    left: 50%;
    background-size: 18%;
    background-image: url('./assets/bubble3.png');
  }

  &-fourth {
    top: 100%;
    left: 5%;
    transform: rotate(45deg);
    background-size: 175px 175px;
    background-image: url('./assets/bubble1.png');
  }

  &-six {
    top: 18%;
    left: 45%;
    background-image: url('./assets/bubble1.png');
    background-position: revert;
    transform: rotate(45deg);
  }
}



@keyframes bubbleAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 10% 10%;
  }
  100% {
    background-position: 0 0;
  }
}
